html {
    scroll-behavior: smooth;
}
*,
*::before,
*::after {
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body {
    font-size:1rem;
    line-height: 1.3;
    font-family:sans-serif;
    background-color:rgb(220, 208, 240);
    padding:2em;
    height:100vh;
    display:flex;
    align-items:center;
    justify-content:center;
}
main {
    width:min(90%,600px);
    margin:0 auto;
    background-color:rgb(240, 240, 240);
    padding:2em;
    box-shadow:0 0 10px rgba(0,0,0,0.1);
    transition:box-shadow 300ms;
}
main:hover {
    box-shadow:0 5px 15px rgba(0,0,0,0.2);
    transition:box-shadow 300ms;
}
h1 {
    font-family:cursive;
    margin-bottom:1.2em;
    position:relative;
    font-size:calc(1.5rem + 0.5vw);
    text-align:center;
}
h1::after {
    content:"";
    position:absolute;
    bottom:-2px;
    left:2.5%;
    background-color:#000;
    width:95%;
    height:3px;
}

/* question-answer section */
.QAndA {
    margin-top:3em;
    font-size: 0.9rem;
}
.QuestionAndAnswer {
    background-color:rgb(255, 255, 255);
    margin:0.5em 0;
    padding:1.2em 1.5em;
    /* border-bottom:1px solid rgb(170, 169, 169);
    border-top:1px solid rgb(170, 170, 170); */
    box-shadow:0 0 25px rgba(0,0,0,0.1);
    border-radius:0.4rem;
}
.question {
    display:Flex;
    justify-content: space-between;
    align-items:Center;
    margin-bottom:1em;
    font-family:'Lucida Sans',sans-serif;
    font-size: 1rem;
    font-weight:600;
    letter-spacing: 0.07em;
    /* text-decoration:1px underline grey; */
}
.question p {
    color:steelblue;
}
.question .fa {
    padding:0.1em;
    border:2px solid steelblue;
    color:steelblue;
    cursor:pointer;
    font-size: 1rem;
    transition:transform 500ms ease-out;
}
.question .fa:hover {
    transform:perspective(250px) rotateZ(0.25turn);
    transition:transform 500ms ease-in;
}
.answer {
    font-size:1rem;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color:rgb(53, 47, 47);
    border-top:2px solid rgba(136, 130, 130,0.7);
    padding-top:1em;
    display:none;
}

/* answer showing */
.answer-shower {
    display:block;
}
